body{
	background: #E9EAED;
}
.menu{
	min-height: 200px;
	float: left;

}
.sub-menu{
	max-width: 46px;
	min-height: 34px;
}
#ic{
	font-size: 3em;
}
#picture{
	background: #006CFD;
}
#text{
	background: #AD00FE;
	padding-left: 3px;
}
#upload{
	background: #00D6FF;
	padding-left: 3px;

}
#pencil{
	background: #05FF57;
	padding-left: 3px;

}
#color-pick{
	background: white;
	padding-left: 3px;

}
.play-area{
	border:1px solid red;
	float: left;
	height: 500px;
	width: 500px;
	background-size: contain;
}
.image-back*{
	border: 1px solid red;
	width: 50px;
	height: 50px;
}